<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ComponentsLibrariesPath" value="..\..\..\..\..\ComponentsLibraries\net9.0-windows" />
		<add key="PluginsLibrariesPath" value="..\..\..\..\..\PluginsLibraries\net9.0-windows" />
		<add key="LicensePath" value="..\..\..\..\..\Config\license" />
	</appSettings>
</configuration>